- if logged_in?
  #user-bar
    = link_to_current_user :content_method => :login
    = "/"
    = link_to 'Настройки', edit_account_path
    = "/"
    = link_to 'Выйти', logout_path

- else
  #user-bar
    = link_to 'Войти', login_path
    = "/"
    = link_to 'Регистрация', signup_path