%h1= @user.login

- form_for @user do |f|
  = f.error_messages
  
  %p
    = label_tag 'name'
    %br
    = f.text_field :name
    
  %p
    = label_tag 'icq'
    %br
    = f.text_field :icq

  %hr

  = submit_tag 'Сохранить'

  
- form_for @user, :html => { :multipart => true} do |f|
  = f.error_messages
  
  %p
    = image_tag @user.userpic.url(:thumb)
    
  %p
    = label_tag 'userpic'
    %br
    = f.file_field :userpic
    
  %hr
  
  = submit_tag 'Сохранить аватар'