!!! Strict
%html{html_attrs}

  %head
    = stylesheet_link_tag :all
    
  %body
    - if flash[:notice]
      %p.notice= flash[:notice] 
    
    - if flash[:error]
      %p.error= flash[:error]
  
    = render :partial => 'users/user_bar'
    
    .container_12
      = yield